/*Font styles for main headings*/
h4, h5, nav, .card-title {
        font-family: 'Pacifico', cursive;
        color: navy
    }
h6 {
    color: navy

}

/*Coloring for header nav bar*/
nav {
        background-color: navy;
    }
    
/*Coloring for buttons*/
.btn, .btn-small {
        background-color:#ff56b4;
    }

/*Sizes the image from zomato appropriately*/
#foodImg {
        max-height: fit-content;
    }

#cityIcon {
    display:inline-block;margin-right:10px;
}

#city {
    display:inline-block;
}

.card {
    margin-bottom: 3rem;
}

img {
    border: solid, navy, 10px;
}

